## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Longjiang,CN,47.3303,123.1836,3.33,97,100,5.70,overcast clouds
1,1,Vaini,TO,-21.2000,-175.2000,82.56,83,40,10.36,scattered clouds
2,2,Muros,ES,42.7762,-9.0603,54.23,91,18,5.97,few clouds
3,3,Eilenburg,DE,51.4598,12.6334,49.24,68,100,9.01,overcast clouds
4,4,Cidreira,BR,-30.1811,-50.2056,72.39,69,29,11.88,scattered clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] >=min_temp)&(city_data_df["Max Temp"] <=max_temp)]
preferred_cities_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Vaini,TO,-21.2000,-175.2000,82.56,83,40,10.36,scattered clouds
6,6,Hilo,US,19.7297,-155.0900,77.25,71,100,5.99,overcast clouds
9,9,Padang,ID,-0.9492,100.3543,75.58,62,100,6.46,overcast clouds
12,12,Necochea,AR,-38.5473,-58.7368,82.04,45,44,10.71,scattered clouds
15,15,Nuevitas,CU,21.5453,-77.2644,78.24,75,77,5.88,broken clouds

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                195
City                   195
Country                193
Lat                    195
Lng                    195
Max Temp               195
Humidity               195
Cloudiness             195
Wind Speed             195
Current Description    195
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
preferred_cities_df = preferred_cities_df.dropna()
preferred_cities_df.count()

City_ID                193
City                   193
Country                193
Lat                    193
Lng                    193
Max Temp               193
Humidity               193
Cloudiness             193
Wind Speed             193
Current Description    193
dtype: int64

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Vaini,TO,82.56,scattered clouds,-21.2000,-175.2000,
6,Hilo,US,77.25,overcast clouds,19.7297,-155.0900,
9,Padang,ID,75.58,overcast clouds,-0.9492,100.3543,
12,Necochea,AR,82.04,scattered clouds,-38.5473,-58.7368,
15,Nuevitas,CU,78.24,broken clouds,21.5453,-77.2644,
17,Kapaa,US,79.48,clear sky,22.0752,-159.3190,
30,Alofi,NU,82.29,broken clouds,-19.0595,-169.9187,
34,Atuona,PF,78.57,light rain,-9.8000,-139.0333,
35,Touros,BR,83.30,broken clouds,-5.1989,-35.4608,
37,Rikitea,PF,79.20,clear sky,-23.1203,-134.9692,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat}, {lng}"

    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [9]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df.dropna()
hotel_df = hotel_df.dropna()
hotel_df.head(30)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Vaini,TO,82.56,scattered clouds,-21.2000,-175.2000,Keleti Beach Resort
6,Hilo,US,77.25,overcast clouds,19.7297,-155.0900,Hilo Hawaiian Hotel
9,Padang,ID,75.58,overcast clouds,-0.9492,100.3543,Mercure Padang
12,Necochea,AR,82.04,scattered clouds,-38.5473,-58.7368,dyd -mar Hotel
15,Nuevitas,CU,78.24,broken clouds,21.5453,-77.2644,Hotel Caonaba
17,Kapaa,US,79.48,clear sky,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
30,Alofi,NU,82.29,broken clouds,-19.0595,-169.9187,Taloa Heights
34,Atuona,PF,78.57,light rain,-9.8000,-139.0333,Villa Enata
35,Touros,BR,83.30,broken clouds,-5.1989,-35.4608,INN NEW HORIZON
37,Rikitea,PF,79.20,clear sky,-23.1203,-134.9692,People ThankYou
38,Namatanai,PG,82.47,broken clouds,-3.6667,152.4333,Seagulls Inn Namatani
43,Dhidhdhoo,MV,80.91,overcast clouds,6.8833,73.1000,Dhidhoo beach
45,San Patricio,US,75.29,clear sky,28.0170,-97.5169,"Motel 6 Sinton, TX"
48,Mahina,PF,83.97,scattered clouds,-17.5065,-149.4890,Guest Beach Bungalow Tahiti
50,Inhambane,MZ,76.03,clear sky,-23.8650,35.3833,Oceano
58,Avarua,CK,82.45,few clouds,-21.2078,-159.7750,Paradise Inn
61,San Cristobal,VE,78.98,broken clouds,7.7669,-72.2250,Posada Villaven C.A.
63,San-Pedro,CI,78.75,scattered clouds,4.7485,-6.6363,Hotel Maria
64,Mount Isa,AU,78.57,scattered clouds,-20.7333,139.5000,ibis Styles Mt Isa Verona
67,Kokoda,PG,80.02,overcast clouds,-8.8785,147.7407,Daito Guest House
69,Karaton,ID,77.95,overcast clouds,-6.3424,106.1045,Parkir Mobil Wisata CAS Water Park
71,Emerald,AU,75.34,clear sky,-23.5333,148.1667,The Irish Village
73,Lampa,CL,84.07,clear sky,-33.2833,-70.9000,El sueño de Lampa I y II
81,Cairns,AU,78.06,few clouds,-16.9167,145.7667,Mantra Trilogy Cairns
82,Hithadhoo,MV,81.86,broken clouds,-0.6000,73.0833,Scoop Guest House
86,George Town,MY,78.89,few clouds,5.4112,100.3354,Cititel Penang
96,Kavieng,PG,82.13,light rain,-2.5744,150.7967,Nusa Island Retreat
98,Antalaha,MG,75.16,broken clouds,-14.9003,50.2788,Hotel Vitasoa
101,Carnarvon,AU,75.27,clear sky,-24.8667,113.6333,Hospitality Carnarvon
102,Pacific Grove,US,80.71,clear sky,36.6177,-121.9166,Lovers Point Inn

In [10]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [11]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>

"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [13]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))